@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Source+Code+Pro:wght@300&display=swap');

html {
    background-color: #212121;
}

body {
    color: rgb(255, 255, 255);
    background-color: #212121;
    width: 100%;
    overflow-x: hidden;
}
section {
    min-height: 100vh;
}


.heading {
    color: rgb(255, 199, 94); 
}

.card {
    margin: 5rem;
    background-color: #363636;
    text-align: center;
    align-content: center;
}

.heading {
    color: rgb(255, 199, 94);
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    transition: 1s;
}

.heading2 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    transition: 1s;
}


.maintext {
    max-width: 60ch;
}

.backg {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    opacity: 0.3;
    background-image: url("./mountain_landscape17_generated.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

#sec1 {
    font-family: 'Source Code Pro', monospace;
    background-color: #212121;
    height: 100%;
    text-align: left;
    display: grid;
    align-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sec2 {
    font-family: 'Source Code Pro', monospace;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    background-color: #151515;
    top: 0;
    left: 0;
}


@media only screen and (max-width: 769px) {

    body {
        color: rgb(255, 255, 255);
        background-color: #212121;
        width: 100%;
        overflow-x: hidden;
    }


    #sec1 {
        text-align: left;
        display: grid;
        align-content: center;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 40ch;
    }

}



