@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body {
    color: aliceblue;
}
section {
    min-height: 100vh;
    min-height: 100vh;
}

h1 {

    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    transition: 1s;
}

h1:hover {
    color: rgba(255, 199, 94, 0.678);
    transition: 1s;
}
p {

    text-align: justify;
    font-family: 'Source Code Pro', monospace;
    max-width: 35%;
    font-size: 0.8rem;
}


#bg {
    align-items: center;
    display: block;
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: -1;
    
    /* Preserve aspet ratio */
    min-width: 50%;
    min-height: 50%;

  }

#sec1 {
   
    height: 100%;
    min-width: 50%;
    max-width: 100%;
    text-align: left;
    display: grid;
    align-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sec2 {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    background-color: #151515;
    top: 0;
    left: 0;
    width: 100%;
}

.textdiv1 {
    margin-left: 12rem;
    transition: 1s;
}

@media only screen and (max-width: 769px) {
    p {
        text-align:left;
        font-family: 'Source Code Pro', monospace;
        max-width: 60%;
        font-size: 0.7rem;
        font-weight: bold;
    }

    #sec1 {
        background-image: url('./fullbg.png');
        text-align: left;
        display: grid;
        align-content: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

@media only screen and (max-width: 1025px) {
    .textdiv1 {
        margin-left: 0rem;
    }

}